//lower to 4 colors
//primary, secondary, secondary bg, accent

//bird colors

$primary:#6E5F68;
$secondary: #DDC8EC;
$bg:white;
$light: #F7E9F4;
$lightest: #FAEFF7;
$accent: #FBEA6A;


//pale rainbow
/*
$primary:#7FDBE2;
$secondary: #68B6AF;
$bg:white;//#82C5A0;
$accent: #FFD1F0;
*/

/*
//orangecicle
$primary:#2F3138;
$secondary: #EBA444;
$bg:white;//#F9CCB2;
$light: #F8F6CC;
$lightest: #D1D1DD;
$accent: #3885CA;
*/

/*
//shore
$primary:#AA6B67; 
$secondary: #DDAF96; 
$bg:#EDE0D5; 
$light: #75959D;
$accent: #606D71;
*/

/*
//feather pretty good
$primary: rgb(92, 89, 92);
$secondary: #81849E;
$bg:#88AE9C;
$light: #B4C49E;
$lightest: #DEE3BA;
$accent: #DBA091;
*/

/*
$accent: #627037;
$primary: #394D2E;
$secondary: #424444;
$bg: #717299;
$light: #B0ABCC;
$lightest: #C9C7DB;
*/


$accent: #F9D3A5;
$secondary: #2F4661;
$primary: #303846;
$bg: white;

$accent: #41A886;
$secondary: #A94800;
$secondary-light: #FF740D;
$primary: #751A00;
$bg: white;


$accent: #AD7FB4;
$primary: #55364D;
$secondary: rgb(77, 75, 108);
$bg: white;//#DAB57E;

$accent: #FF8200;
$primary: #008080;
$secondary: #40C9A2;
$bg: white;
/*
$accent: #F9C80E;
$primary: #6b1212;
$secondary: #F86624;
$bg: white;
*/
/*
$primary: #222;
$secondary: #888;
$bg: #FFF;
$accent: #ccc;
*/

/*
$primary: #6E5F68;
$secondary: $primary;
$bg-secondary: $primary;

*/
//$secondary: #644b74;
//$primary: #4C5B58;
//$primary: rgb(24, 117, 15);
//$secondary: #86649b;
//$bg-secondary: #b06b80;
//$bg-light: #a29096;


//$primary: #382B37;
//$secondary: #523C5A;
//$bg-secondary: #4C5B58;
//$bg-light: #7D958E;
//$light: #B7C9B3;*/
//$lightest: #CD9CCC;

$secondary-font: 'VT323', monospace;