<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <link href="/fonts.css" rel="stylesheet" charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
<body>
  <div class="container">
    <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/">{{ site.name }}<br/>I S <div id="word2">O N L I N E</div></a>
          <!--<a href="{{ site.baseurl }}/" id="word1">I S </a>-->
        </h1>
        <nav class="masthead-nav">
          <ul>
          {% for nav in site.nav %}
          
          {% if forloop.first != true %}_{% endif %}
          <li>
          <a href="{{ nav.href }}">{{ nav.name }}</a>
          {% if nav.name == "projects" %}
            <ul class="dropdown">
              <li><a href="/projects/long-eyes">Long Eyes</a></li>
              <li><a href="/projects/a-frame">A-frame Experiments</a></li>
              <li><a href="/projects/clean-my-desk">Clean My Desk</a></li>
              <li><a href="/projects/snake-a-thon">snake-a-thon</a></li>
              <li><a href="/projects/analog-dreams">Analog Dreams</a></li>
              <li><a href="/projects/misc">Miscellaneous</a></li>
            </ul>
          {% endif %}
          </li>
          {% endfor %}
          </ul>
        </nav>
        <nav class="masthead-nav-icons">
          {% for nav in site.nav-icons %}
            <a title="{{ nav.desc }}" href="{{ nav.href }}"> {% include {{nav.icon}} %} </a>
          {% endfor %}
        </nav>
    </header>
    {{ content | replace: "µµ", "&emsp;"}}
  </div>
  
</body>
</html>
