---
layout: default
---    
<div class="content page project">
  <h1 class="page-title">
    <a href="/{{page.root}}/">{{page.root}}</a> >> 
    {{ page.title }}</h1>
    <div class="project-list-inline">
        <a href="/projects/long-eyes">Long Eyes</a> ~ 
        <a href="/projects/clean-my-desk">Clean My Desk</a> ~ 
        <a href="/projects/snake-a-thon">snake-a-thon</a> ~ 
        <a href="/projects/analog-dreams">Analog Dreams</a> ~
        <a href="/projects/misc">Miscellaneous</a>
    </div>
    <br>
  {{ content }}
</div>
